node_modules/
.expo/
client/ios/
client/android/
client/dist/
client/.env
server/lib/
server/coverage/
server/.env
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
client/Library/
client/Temp/
client/Obj/
client/Build/
client/Logs/
client/UserSettings/
.DS_Store
/.env
__pycache__/
